.mundo{
	width: 92px;
	height: 92px;
    background: url("mapa.png");
    border-radius: 50%;
	-webkit-animation: rotacion 10s infinite linear;

}

@-webkit-keyframes rotacion{

0% {
	background-position: 0px 0px;
}

100%{
	background-position: -260px 0px;
}
}


.sombra{
<<<<<<< HEAD
width: 92px;
height: 92px;
box-shadow: -10px 10px 50px yellow;
=======
width: 100px;
height: 100px;
box-shadow: -10px 10px 50px pink;
>>>>>>> origin/master
border-radius: 50%;
position: absolute;
}